<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>         <!-- Inclusión de Head con EJS -->
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Tu Bolso de Compras</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <main>
        <section class="shopping-cart">
            <div class="cart__resume">
                <div class="resume__columns">
                    <h3>Detalles del Producto</h3>
                    <h3>Cantidad</h3>
                    <h3>Precio</h3>
                    <h3>Total</h3>
                </div>
                <article class="resume_item">
                    <img src="/images/prenda1.jpg" alt="prenda1">
                    <div class="item__description">
                        <h4>Prenda de Prueba</h4>
                        <p>Remover</p>
                    </div>
                    <p></p>
                    <p>$ 2.423</p>
                    <p>$ 2.423</p>
                </article>
            </div>
            <div class="cart__order"></div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>