<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.CSS">
    <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
    <title>INDUSTRIAS PRENDAS UNIDAS</title>
    <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
    <link rel="icon" href="/images/logo_marca.icon">
</head>

<body>
    <header>
        <div class="into_header">
            <div class="header__logo">
                <img class="logo" src="/images/logo_pagina.png" alt="logo">
            </div>
            <div>
                <p class="nombre_marca">Veffaly</p>
            </div>
            <!--
            <div class="tipos">
                <a href="https://facebook.com"><i class="fa-solid fa-bell icono"></i></a>
                <a><i class="fa-solid fa-heart icono"></i></a>
                <a><i class="fa-solid fa-cart-shopping icono"></i></a>
                <a><i class="fa-solid fa-circle-user icono"></i></a>
                <a><i class="fa-solid fa-magnifying-glass icono"></i></a>
            </div>
            -->
            <div class="burger">
                <p><i class="fas fa-bars"></i></p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a>HOMBRES</a></li>
                <li><a>MUJERES</a></li>
                <li><a>NIÑOS</a></li>
                <li><a>DUDAS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>PROMOCIONES</h2>
        <section>
            <article>
                <img src="images/prenda1.jpg" alt="prenda1">
                <h3>VESTIDO RETAZEADO</h3>
                <p>$150</p>
                <p>$100</p>
            </article>
            <article>
                <img src="images/prenda2.jpg" alt="prenda2">
                <h3>CHAQUETA TEXTURIZADA</h3>
                <p>$130</p>
                <p>$85</p>
            </article>
            <article>
                <img src="images/prenda3.jpg" alt="prenda3">
                <h3>CONJUNTO A CUADROS</h3>
                <p>$150</p>
                <p>$120</p>
            </article>
            <article>
                <img src="images/prenda4.jpg" alt="prenda4">
                <h3>CHAQUETA RETAZEADA</h3>
                <p>$170</p>
                <p>$130</p>
            </article>
        </section>
    </main>
    <footer>
        <div>

        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </footer>
</body>

</html>
