<html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/normalize.CSS">
        <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
        <title>INDUSTRIAS PRENDAS UNIDAS</title>
        <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
    </head>

<body>
    <header>
    </header>
    <main>
        <div class="cuadrante">
            <form>
                <br>
                <br>
                <input placeholder="Correo Electronico" type="text" name="correoElectronico">
                <br>
                <br>    
                <input placeholder="Contraseña" type="password" name="contraseña">
                <br>
                <br>
                <input class="send" type="submit" name="enviar">
                <br>
                <br>
                <label><a href="#">¿Olvidaste tu contraseña?</a></label>
                <br>
                <br>
            </form>
        </div>
    </main>
</body>

</html>