body{
    font-size: 16px;
}

main{
    min-height: 100vh;
    background: lightseagreen;
}

section{
    width: 95%;
    margin: auto;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    text-align: left;
    background: lightblue;
}


img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

h4{
    font-size: 1rem;
    font-weight: 200;
}
h6{
    font-size: .8rem;
}
p{
    font-size: .75rem;
}
.product__rating{
    display: flex;
    align-items: center;
}
.product__rating p{
    font-size:.6rem;
    margin-left: 4px;
}

.star{
    font-size: .4rem;
    color: white;
}
.checked{
    color: lightseagreen;
}

.images__main{
    height: 300px;
    margin: .6rem 0;
}

.images__main img{
    max-height: 300px;
    display: block;
    margin: auto;
    transition: all 1s ease;
    cursor: zoom-in;
}

.images__main img:hover{
    opacity: .5;
}

.product__info h4, .product__info .product__rating{
    display: none;
}

.info__price{
    display: flex;
    align-items: center;
    font-size: .93rem;
    margin: 10px 0;
}
.info__price p{
    margin-right: 5px;
}
.info__price span{
    color: rgb(0, 175, 35);
    font-size: .8   rem;
}

.info__shipping{
    font-size: .84rem;
    margin: 5px 0;
}
.truck{
    border: 1px solid green;
    border-radius: 50%;
    font-size: 9px;
    padding: 3px;
    color: green;
    margin-right: 4px;
}

.info__stock{
    display: flex;
}
.stock__sizes, .stock__units{
    flex:50%;
    font-size: 1.3rem;
}
.info__stock select{
    border: none;
    border-radius: 3px;
    width: 50%;
    height: 25px;
    font-size: .8rem;
    background:lightseagreen;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
}
.info__stock select:hover{
    opacity: .5;
    border: 1px solid white;
}
.product__info button{
    display: block;
    width: 100%;
    margin-top: 12px;
    border: 1px solid black;
    border-radius: 3px;
    background:rgb(8, 64, 185);
    padding: 5px;
    font-size: .9rem;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
}
.product__info button:hover{
    background: rgb(10, 145, 255);
    color: black;
    border: 1px solid white;
    opacity: 0.5;
}

.cart{
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    margin-left: 4px;
}


.info__description{
    margin: 10px 0;
}














.product__sizes{
    display: flex;
    margin-top: 5px;
}

.product__sizes input[type="radio"]{
    display: none;
}

.product__sizes input[type="radio"]:hover + label{
    background: rgb(10, 210, 255);
    opacity: .6;
    color: whitesmoke;
}


.product__sizes input[type="radio"]:checked + label{
    background: rgb(10, 210, 255);
    color: whitesmoke;
    border: 1px solid black;
}


.product__sizes label{
    height: 100%;
    background: white;
    font-size: .9rem;
    padding: 0 .85rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    transition: all .3s ease;
}


.images__mosaic{
    height: 100px;
    display: none;
}

.images__mosaic img{
    max-width: 30%;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.images__mosaic img:hover{
    border: 1px solid white;
    opacity: 0.5;
}



@media (min-width:460px){
    .product__info h4, .product__info .product__rating{
        display: flex;
    }

    section > h4, section .product__rating{
        display: none;
    }
    
    .product__layout{
        display: flex;
    }
    .product__images{
        flex: 50%;
    }
    .product__info{
        flex: 50%;
        margin-left: 20px;
        border: 1px solid gainsboro;
        padding: 15px;
    }
}

@media (min-width:768px){

    .product__images{
        flex: 65%;
    }
    .product__info{
        flex: 35%;
    }
    .images__mosaic{
        display: flex;
        justify-content: center;
    }
}