*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul{
    display: flex;
}
