<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs',{title:"About Us", stylesheets:["index.css", "about.css"]}) %>         <!-- Inclusión de Head con EJS -->


<body>
    <%- include('partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <h1>SOBRE NOSOTROS</h1>
    <p>Somos un equipo de desarrolladores que realizó el ecommerce "Veffaly", el cual es el proyecto final del Bootcamp de Digital House.</p>
    <p>Nos sentimos muy identificados con la temática elegida para el proyecto y estamos orgullosos de poder colaborar en la concientización sobre el cuidado del medio ambiente a la vez en la que aprendemos nuevas tecnologías.</p>
    <%- include('partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>