<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>         <!-- Inclusión de Head con EJS -->
    <title>Somos Veffaly</title>
</head>


<body>
    <%- include('partials/header.ejs') %>       <!-- Inclusión de Header con EJS -->
    <section class="banner">
        <img class="banner__img" src="/images/banner.jpg" alt="banner">
        <div class="banner__slogan">
            <p>There's no place to live other than our precious earth</p>
            <button>Descubre</button>
        </div>
    </section>
    <main>
        <h2>PROMOCIONES</h2>
        <section>
            <article>
                <a href="/products/productDetail"><img src="images/prenda1.jpg" alt="prenda1"></a>
                <h3>VESTIDO RETAZEADO</h3>
                <div class="anterior_sell">
                    <p class="precio_ant">US$150</p>
                    <p class="precio_ahora">US$100</p>
                </div>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda2.jpg" alt="prenda2"></a>
                <h3>CHAQUETA TEXTURIZADA</h3>
                <div class="anterior_sell">
                    <p class="precio_ant">US$130</p>
                    <p class="precio_ahora">US$85</p>
                </div>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda3.jpg" alt="prenda3"></a>
                <h3>CONJUNTO A CUADROS</h3>
                <div class="anterior_sell">
                    <p class="precio_ant">US$150</p>
                    <p class="precio_ahora">US$120</p>
                </div>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda4.jpg" alt="prenda4"></a>
                <h3>CHAQUETA RETAZEADA</h3>
                <div class="anterior_sell">
                    <p class="precio_ant">US$170</p>
                    <p class="precio_ahora">US$130</p>
                </div>
            </article>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>       <!-- Inclusión de Footer con EJS -->
</body>
</html>
