<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.CSS">
    <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
    <title>INDUSTRIAS PRENDAS UNIDAS</title>
    <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
    <link rel="icon" href="/images/logo_marca.icon">
</head>

<body>
    <header>
        <div class="into_header">
            <div class="header__logo">
                <img class="logo" src="/images/logo_pagina.png" alt="logo">
            </div>
            <div>
                <p class="nombre_marca">Veffaly</p>
            </div>
            <!--
            <div class="tipos">
                <a href="https://facebook.com"><i class="fa-solid fa-bell icono"></i></a>
                <a><i class="fa-solid fa-heart icono"></i></a>
                <a><i class="fa-solid fa-cart-shopping icono"></i></a>
                <a><i class="fa-solid fa-circle-user icono"></i></a>
                <a><i class="fa-solid fa-magnifying-glass icono"></i></a>
            </div>
            -->
            <div class="burger">
                <p><i class="fas fa-bars"></i></p>
            </div>
        </div>
        <form action="" method="get">
            <input type="text">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav>
            <ul>
                <li><a>HOMBRES</a></li>
                <li><a>MUJERES</a></li>
                <li><a>NIÑOS</a></li>
                <li><a>DUDAS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>PROMOCIONES</h2>
        <section>
            <article>
                <a href="/products/productDetail"><img src="images/prenda1.jpg" alt="prenda1"></a>
                <div class="anterior_sell">
                    <p class="precio_ant">US$150</p>
                    <p class="precio_ahora">US$100</p>
                </div>
                <h3>VESTIDO RETAZEADO</h3>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda2.jpg" alt="prenda2"></a>
                <div class="anterior_sell">
                    <p class="precio_ant">US$130</p>
                    <p class="precio_ahora">US$85</p>
                </div>
                <h3>CHAQUETA TEXTURIZADA</h3>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda3.jpg" alt="prenda3"></a>
                <div class="anterior_sell">
                    <p class="precio_ant">US$150</p>
                    <p class="precio_ahora">US$120</p>
                </div>
                <h3>CONJUNTO A CUADROS</h3>
            </article>
            <article>
                <a href="/products/productDetail"><img src="images/prenda4.jpg" alt="prenda4"></a>
                <div class="anterior_sell">
                    <p class="precio_ant">US$170</p>
                    <p class="precio_ahora">US$130</p>
                </div>
                <h3>CHAQUETA RETAZEADA</h3>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <h2>CONTACTO <i class="fa-solid fa-address-card"></i></h2>
            <h3>CORREO</h3>
            <p>Veffaly@gmail.com</p>
            <h3>NÚMERO</h3>
            <P>+57 3224567839</P>
        </div>
            <h2>REDES SOCIALES <i class="fa-solid fa-circle-question"></i></h2>
            <div class="redes">
                <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-tiktok"></i></a></div>
                <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-facebook"></i></a></div>
                <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-instagram"></i></a></div>
                <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-pinterest"></i></a></div>
                <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-youtube"></i></a></div>
            </div>
    </footer>
</body>
</html>
