* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
}

body {
    background-image: url("/images/banner.jpg");
    background-size: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cuadrante {
    text-align: center;
    border: 1px solid black;
    background-color: #f4eeeb;
    width: 600px;
    opacity: 80%;
}