:root {
    --azulOscuro: #00304E;
    --rosaClaro: #e1e1e1;
    --Header-Background: ;
    --Body-Background: #f4eeeb;
    --Text-Background: rgba(175, 151, 140, 0.8);
    --Text: #af978c;

}

* {
    font-family: 'Gill Sans MT';
}

header {
    background: var(--Body-Background);
    text-align: center;
    padding: 0px 3px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid black;
}

.banner{
    position: relative;
    text-align: center;
}
.banner img{
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    display: block;
}

.into_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#burger__toggle{
    display: none;
}
#burger__toggle:checked ~ .header__overlay{
    height: 350px;
}
.burger{
    font-size: 20px;
}
.header__overlay{
    width: 60%;
    height: 0px;
    overflow: hidden;
    background-color: #02173F;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
}
main{
    padding: 20px;
    
}

main h2{
    color: white ;
    background-color: var(--Text-Background);
    text-align: center;
}

.logo {
    width: 100%;
    max-width: 100px;
    
}
.header__icons i{
    font-size: 18px;
    margin-left: 8px;
}

.header__searchbar{
    display: none;
}


li {
    list-style-type: none;
}


.caja-formulario{
    margin-top: 80px;
}


.inputs-formulario {
    padding: 1rem;
    display: flex;
    width: 70%;
    margin: 10px auto;
    background-color: #e1e1e1;
    border-radius: 10px;
    opacity: 80%;
    justify-content: center;
    
}


.boton-input {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    display: block;
    flex: 0 0 100%;
    background-color: #00304E;
    width: 70%;
    margin: 30px auto;
}

.boton-input:hover {
    cursor: pointer;
}

.boton-input:hover {
    background-image: linear-gradient(225deg, #0022aa 0%, #00f0b8 100%);
}

.align-formulario{
    text-align: center;
    margin-left: 15px;
}

main a {
    text-decoration: none;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.redes{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.into_redes{
    color: white;
}

footer h3{
    margin: 18px 0 6px 0;
}

footer i{
    font-size: 20px;
}