
main{
    min-height: 100vh;
}

section{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.306);
    border-radius: 3px;
    text-align: left;
}   

.product__rating{
    display: flex;
    align-items: center;
}
.product__rating p{
    font-size:.6rem;
    margin-left: 4px;
}

.star{
    font-size: .4rem;
    color: white;
}
.checked{
    color: lightseagreen;
}

.product__layout{
    display: flex;
    justify-content: space-around;
}

.product__images{
    flex: 1;
}
.product__info{
    width: 30%;
    padding: 0 10px;

}
.product__buy{
    width: 30%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.images__main{
    height: 300px;
    margin: .6rem 0;
}

.images__main img{
    max-height: 300px;
    display: block;
    margin: auto;
    transition: all 1s ease;
    cursor: zoom-in;
}

.images__main img:hover{
    opacity: .5;
}

.images__mosaic{
    height: 100px;
    display: none;
}

.images__mosaic img{
    max-width: 30%;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.images__mosaic img:hover{
    border: 1px solid white;
    opacity: 0.5;
}


.product__info h4{
    font-size: 2rem;
}
.product__rating i, .product__rating p{
    font-size: 1.2rem;
    margin: 10px 2px;
}

.info__price{
    display: flex;
    align-items: center;
    margin: 20px 0 30px;
}
.info__price p{
    margin-right: 5px;
    font-size: 2.4rem;
    font-weight: bold;
    color: rgb(142, 98, 98);
}
.info__price span{
    color: rgb(0, 175, 35);
    font-size: 1.2rem;
}

.info__description h6{
    font-size: 1.4rem;
}

.info__description p{
    font-size: 1.2rem;
    margin: 15px 0;
}


.info__shipping{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    margin: 5px 0;
}
.truck{
    border: 1px solid green;
    border-radius: 50%;
    font-size: 22px;
    padding: 8px;
    color: green;
    margin-right: 4px;
}

.info__stock{
    display: flex;
    margin: 25px 0;
}

.info__stock h6{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.stock__sizes, .stock__units{
    flex:50%;
    font-size: 1.3rem;
}
.info__stock select,
.info__stock input{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 0;
    text-align: center;
    width: 50%;
    font-size: 1rem;
    background-color: var(--Text);
    color: white;
    cursor: pointer;
    transition: all .4s ease;
}
.info__stock select:hover, 
.info__stock input:hover{
    opacity: .85;
}

.cart-add{
    display: block;
    width: 100%;
    margin: 30px 0;
    border: 1px solid black;
    border-radius: 30px;
    background:rgb(8, 64, 185);
    padding: 5px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: all .4s ease;
}
.cart-add:hover{
    background: rgb(10, 145, 255);
    color: black;
    opacity: 0.9;
}

.cart{
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    font-size: 14px;
    margin-left: 8px;
}

.actions-container{
    display: flex;
    justify-content: space-around;
}

.actions-container a, .actions-container button{
    display: inline-block;
    width: 180px;
    height: 55px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: all .4s ease;
}

.actions-container a{
    background-color: rgb(142, 83, 28);
    background-image: linear-gradient(rgb(185, 122, 5), rgb(185, 122, 5));
    background-size: 0 100%;
    background-repeat: no-repeat;

}
.actions-container a:hover{
    background-size: 100% 100%;
}

.actions-container button{
    background-color: brown;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 0, 0, 0.5));
    background-size: 0 100%;
    background-repeat: no-repeat;
}
.actions-container button:hover{
    background-size: 100% 100%;
}







@media (min-width:460px){
    .product__info h4, .product__info .product__rating{
        display: flex;
    }

    section > h4, section .product__rating{
        display: none;
    }
    

}

@media (min-width:768px){


    .images__mosaic{
        display: flex;
        justify-content: center;
    }
   
}

