
main{
    min-height: 100vh;
}

section{
    width: 90%;
    margin: auto;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    text-align: left;
}
.resume_item  {
    max-width: 100%;
}