<footer>
    <div>
        <h3>CONTACTO</h3>
        <i class="fa-solid fa-address-card"></i>
        <h3>CORREO</h3>
        <p>Veffaly@gmail.com</p>
        <h3>NÚMERO</h3>
        <P>+57 3224567839</P>
    </div>
        <h3>REDES SOCIALES</h3>
        <div class="redes">
            <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-tiktok"></i></a></div>
            <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-facebook"></i></a></div>
            <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-instagram"></i></a></div>
            <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-pinterest"></i></a></div>
            <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-youtube"></i></a></div>
        </div>
</footer>