<footer class="footer">
    <div class="footer__newsletter">
        <img class="newsletter-img" src="/images/footer-newsletter.jpg">
        <div class="newsletter-details">
            <h6>No te pierdas de nada</h6>
            <p>Suscribite a nuestro newsletter para recibir ofertas y novedades!</p>
            <form>
                <input type="email" placeholder="E-mail" name="email">
                <button type="submit">ENVIAR</button>
            </form>
        </div>
    </div>
    <div class="footer__contact">
        <div class="contact-container">
            <div class="info-email">
                <h6>CORREO</h6>
                <p>Veffaly@gmail.com</p>
            </div>
            <div class="info-tel">
                <h6>NÚMERO</h6>
                <P>+57 3224567839</P>
            </div> 
        </div>
        <nav>
            <h6>Seguinos</h6>
            <ul class="social-media">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a class="spotify" href="#"><i class="fab fa-spotify"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>