<header>
    <div class="into_header">
        <div class="header__navbar">
            <input id="burger__toggle" type="checkbox" >
            <label for="burger__toggle">
                <i class="fas fa-bars burger"></i>
            </label>
            <nav class="header__overlay">
                <ul>
                    <li class="nav-li"><a href="#">HOMBRES</a></li>
                    <li class="nav-li"><a href="#">MUJERES</a></li>
                    <li class="nav-li"><a href="#">NIÑOS</a></li>
                </ul>
            </nav>
        </div>
        <nav class="header__nav--desktop">
            <ul>
                <li class="nav-deskt-li"><a href="#">HOMBRES</a></li>
                <li class="nav-deskt-li"><a href="#">MUJERES</a></li>
                <li class="nav-deskt-li"><a href="#">NIÑOS</a></li>
            </ul>
        </nav>
        <div class="logo__container">
            <a href="/"><img class="logo" src="/images/logoVeffaly.jpg" alt="logo"></a>
            
        </div>
        <div class="header__icons">
            <i class="fas fa-search search"></i>
            <i class="fas fa-shopping-bag bag"></i>
            <input id="user__toggle" type="checkbox">
            <label for="user__toggle">
                <i class="fas fa-user user"></i></a>
            </label>
            <div class="user__overlay">
                <ul>
                    <li class="user-li"><a href="/users/login">Ingresá</a></li>
                    <li class="user-li"><a href="/users/register">Registrate</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="header__searchbar">
        <form action="" method="get">
            <input type="text" placeholder="Buscar">
            <div class="btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>
</header>