<header>
    <div class="into_header">
        <div class="header__navbar">
            <input id="burger__toggle" type="checkbox" >
            <label for="burger__toggle">
                <i class="fas fa-bars burger"></i>
            </label>
            <nav class="header__overlay">
                <ul>
                    <li class="nav-li"><a href="#">HOMBRES</a></li>
                    <li class="nav-li"><a href="#">MUJERES</a></li>
                    <li class="nav-li"><a href="#">NIÑOS</a></li>
                </ul>
            </nav>
        </div>
        <nav class="header__nav--desktop">
            <ul>
                <li class="nav-deskt-li"><a href="#">HOMBRES</a></li>
                <li class="nav-deskt-li"><a href="#">MUJERES</a></li>
                <li class="nav-deskt-li"><a href="#">NIÑOS</a></li>
            </ul>
        </nav>
        <div class="logo__container">
            <a href="/"><img class="logo" src="/images/logoVeffaly.jpg" alt="logo"></a>
            
        </div>
        <div class="header__icons">
            <div class="icon-search">
                <form action="products/productSearch" method="GET">
                    <input type="text" placeholder=" Buscar" name="search">
                    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="Bolsa">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <input id="user__toggle" type="checkbox">
            <div class="login">
                <ul class="nav">
                    <li>
                        <label for="user__toggle">
                            <i class="fas fa-user user"></i></a>
                        </label>
                        <ul>
                            <li class="user-li"><a href="/users/login">Ingresá</a></li>
                            <li class="user-li"><a href="/users/register">Registrate</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <div class="user__overlay">
                <ul class="user__select">
                    <li class="user-li"><a href="/users/login">Ingresá</a></li>
                    <li class="user-li"><a href="/users/register">Registrate</a></li>
                </ul>
            </div> 
        </div>
    </div>
</header>