<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <% if(locals.stylesheets){ %>
        <% for(let i = 0; i < stylesheets.length; i++){ %>
            <link rel="stylesheet" href="/css/<%=stylesheets[i]%>">
        <% } %> 
    <% } %> 
    <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo_pagina.png">
    <title><%= locals.title %></title>
</head>
