<header>
    <div class="into_header">
        <div class="header__navbar">
            <input id="burger__toggle" type="checkbox" />
            <label for="burger__toggle">
                <i class="fas fa-bars burger"></i>
            </label>
            <nav class="header__overlay">
                <ul>
                    <li><a href="#">HOMBRES</a></li>
                    <li><a href="#">MUJERES</a></li>
                    <li><a href="#">NIÑOS</a></li>
                    <li><a href="#">DUDAS</a></li>
                </ul>
            </nav>
        </div>
        <img class="logo" src="/images/logo_pagina.png" alt="logo">
        <div class="header__icons">
            <i class="fas fa-search search"></i>
            <i class="fas fa-shopping-bag bag"></i>
        </div>
        

        <!--
        <div class="tipos">
            <a href="https://facebook.com"><i class="fa-solid fa-bell icono"></i></a>
            <a><i class="fa-solid fa-heart icono"></i></a>
            <a><i class="fa-solid fa-cart-shopping icono"></i></a>
            <a><i class="fa-solid fa-circle-user icono"></i></a>
            <a><i class="fa-solid fa-magnifying-glass icono"></i></a>
        </div>
        -->
        
    </div>
    <div class="header__searchbar">
        <form action="" method="get">
            <input type="text">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>