<html>
<html lang="en">
<%- include('../partials/head.ejs',{title:"Login",stylesheets:["login.css"]}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="cuadrante">
            <form action="/users/login" method="post">
                <br>
                <br>
                <input class="inputs-formulario" placeholder="Correo Electronico" type="text" name="email">
                <br>
                <br>    
                <input class="inputs-formulario" placeholder="Contraseña" type="password" name="password">
                <% if(locals.errors && errors.msg) { %>
                    <div>
                        <p style="color:red"><%= errors.msg %> </p>
                    </div>
                <% } %> 
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                    </label>
                </div>
                <br>
                <button type="submit" class="boton">Ingresar</button>
                <br>
                <br>
                <label class="text"><a href="#">¿Olvidaste tu contraseña?</a></label>
                <br>
                <br>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>