<html>
<html lang="en">
<%- include('../partials/head.ejs',{title:"Login",stylesheets:["login.css"]}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="cuadrante">
            <form>
                <br>
                <br>
                <input class="inputs-formulario" placeholder="Correo Electronico" type="text" name="correoElectronico">
                <br>
                <br>    
                <input class="inputs-formulario" placeholder="Contrase単a" type="password" name="contrase単a">
                <br>
                <br>
                <input class="boton" class="send" type="submit" name="enviar">
                <br>
                <br>
                <label class="text"><a href="#">多Olvidaste tu contrase単a?</a></label>
                <br>
                <br>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>