<html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs') %>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="cuadrante">
            <form>
                <br>
                <br>
                <input class="text" placeholder="Correo Electronico" type="text" name="correoElectronico">
                <br>
                <br>    
                <input class="text" placeholder="Contrase単a" type="password" name="contrase単a">
                <br>
                <br>
                <input class="text" class="send" type="submit" name="enviar">
                <br>
                <br>
                <label class="text"><a href="#">多Olvidaste tu contrase単a?</a></label>
                <br>
                <br>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>