<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d84fe97ca7.js" crossorigin="anonymous"></script>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/normalize.CSS">
    <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="into_header">
            <div class="header__navbar">
                <input id="burger__toggle" type="checkbox" />
                <label for="burger__toggle">
                    <i class="fas fa-bars burger"></i>
                </label>
                <nav class="header__overlay">
                    <ul>
                        <li><a href="#">HOMBRES</a></li>
                        <li><a href="#">MUJERES</a></li>
                        <li><a href="#">NIÑOS</a></li>
                        <li><a href="#">DUDAS</a></li>
                    </ul>
                </nav>
            </div>
            <img class="logo" src="/images/logo_pagina.png" alt="logo">
            <div class="header__icons">
                <i class="fas fa-search search"></i>
                <i class="fas fa-shopping-bag bag"></i>
            </div>
            
    
            <!--
            <div class="tipos">
                <a href="https://facebook.com"><i class="fa-solid fa-bell icono"></i></a>
                <a><i class="fa-solid fa-heart icono"></i></a>
                <a><i class="fa-solid fa-cart-shopping icono"></i></a>
                <a><i class="fa-solid fa-circle-user icono"></i></a>
                <a><i class="fa-solid fa-magnifying-glass icono"></i></a>
            </div>
            -->
            
        </div>
        <div class="header__searchbar">
            <form action="" method="get">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="into_header">
        </div>
    </header>
    <main>
        <form action="/views/register.html" method="get">
            <div class="caja-formulario">
                <input type="text" name="user" placeholder="Nombre y apellido" class="inputs-formulario" minlength="3" required>
                <input type="text" name="user" placeholder="Nombre de usuario" class="inputs-formulario" minlength="3" required>
                <input type="password" name="pass" placeholder="Crea tu contraseña" class="inputs-formulario">
                <input type="text" placeholder="E-mail" class="inputs-formulario">
                <label for="fecha" class="mayusculas"></label>
                <input type="date" id="fecha" class="inputs-formulario">
                <input type="text" placeholder="Domicilio" class="inputs-formulario">
                <br>
                <label for="text" class="mayusculas">INTERESES</label>
                <br>
                <input type="checkbox" name="hombres" id="hombres">
                <label class="mayusculas" for="hombres">Hombres</label>
                <br>
                <input type="checkbox" name="mujeres" id="mujeres">
                <label class="mayusculas" for="mujeres">Mujeres</label>
                <br>
                <input type="checkbox" name="ninos" id="ninos">
                <label class="mayusculas" for="ninos">Niños</label>
                <br>
                <br>
                <form class="inputs-formulario" name="subida-imagenes" type="POST" enctype="multipart/formdata"><a class="mayusculas">FOTO DE USUARIO</a>
                    <input type="file" class="inputs-formulario" name="imagen" />
                <input type="text" placeholder="Contraseña" class="inputs-formulario">
                <input type="text" placeholder="Confirmar contraseña" class="inputs-formulario">
                <a class="boton" href="/views/index.html">
                    <input class="botonInput" type="submit" value="Enviar">
                </a>
            </div>
        </form>
    </main>
    <footer>
            <div>
                <h3>CONTACTO</h3>
                <i class="fa-solid fa-address-card"></i>
                <h3>CORREO</h3>
                <p>Veffaly@gmail.com</p>
                <h3>NÚMERO</h3>
                <P>+57 3224567839</P>
            </div>
                <h3>REDES SOCIALES</h3>
                <div class="redes">
                    <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-tiktok"></i></a></div>
                    <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-facebook"></i></a></div>
                    <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-instagram"></i></a></div>
                    <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-pinterest"></i></a></div>
                    <div class="red"><a href="" class="into_redes"><i class="fa-brands fa-youtube"></i></a></div>
                </div>
    </footer>
</body>

</html>