<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <form action="/views/register.html" method="get">
            <div class="caja-formulario">
                <input type="text" name="user" placeholder="Nombre y apellido" class="inputs-formulario" minlength="3" required>
                <input type="text" name="user" placeholder="Nombre de usuario" class="inputs-formulario" minlength="3" required>
                <input type="password" name="pass" placeholder="Crea tu contrase単a" class="inputs-formulario">
                <input type="text" placeholder="E-mail" class="inputs-formulario">
                <label for="fecha" class="mayusculas"></label>
                <input type="date" id="fecha" class="inputs-formulario">
                <input type="text" placeholder="Domicilio" class="inputs-formulario">
                <br>
                <label for="text" class="mayusculas">INTERESES</label>
                <br>
                <input type="checkbox" name="hombres" id="hombres">
                <label class="mayusculas" for="hombres">Hombres</label>
                <br>
                <input type="checkbox" name="mujeres" id="mujeres">
                <label class="mayusculas" for="mujeres">Mujeres</label>
                <br>
                <input type="checkbox" name="ninos" id="ninos">
                <label class="mayusculas" for="ninos">Ni単os</label>
                <br>
                <br>
                <form class="inputs-formulario" name="subida-imagenes" type="POST" enctype="multipart/formdata"><a class="mayusculas">FOTO DE USUARIO</a>
                    <input type="file" class="inputs-formulario" name="imagen" />
                <input type="text" placeholder="Contrase単a" class="inputs-formulario">
                <input type="text" placeholder="Confirmar contrase単a" class="inputs-formulario">
                <a class="boton" href="/views/index.html">
                    <input class="botonInput" type="submit" value="Enviar">
                </a>
            </div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>